.konten {
    width: fit-content;
    margin: 50px auto;
}
.nama {
    width: fit-content;
    background-color: green;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
}
.submit {
    width: fit-content;
    background-color: rgb(255, 174, 0);
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}
.foto {
    margin: 0px 5px;
    border-radius: 10px;
    overflow: hidden;
    width: fit-content;
}
.isi {
    margin-top: 50px;
    display: flex;
    justify-content: start;
}
table {
    font-size: 20px;
}
.cell {
    width: 100px;
    font-weight: bold;
}
.bio {
    
    margin-left: 20px;
}
.ttd {
    width: 80px;
    margin-top: 90px;
    margin-left: 180px;
}
.tabel-pendidikan {
    margin: 0 auto;
}
.pendidikan {
    padding-left: 50px;
}
.wadah {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 38px;
}
.kanan {
    width: fit-content;
    margin: auto;
}
input {
    width: 400px;
    height: 30px;
}
textarea {
    width: 400px;
    height: 100px;
}